{#
/**
 * @file list-subscribers.html.twig
 * Default theme implementation for a list subcribers.
 *
 * This template is used when listing subscribers per entity.
 *
 * Available variables:
 *   - entity: The related entity.
 *   - subscriptions: An array of subscription entity.
 *   - content: A renderable array of subscription entities in the view mode
 *     default. The view mode can be overriden with a
 *     $setting['entity_activity']['list_subscribers_view_mode'] parameter.
 *   - attributes : An attributes object with default class.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ content }}
</div>
