{#
/**
 * @file log-read-unread.html.twig
 * Basic barebone template for extra field subscription-remove.
 *
 * Available variables:
 * - read_unread: The text configured for status true / false (i.e. usually read / unread).
 * - entity: The log entity.
 * - attributes: HTML attributes for the button.
 * - view_mode: The view mode.
 *
 * @see LogReadFormatter::viewElements()
 *
 * @ingroup themeable
 */
#}
<button{{ attributes }}>{{ read_unread }}</button>
