{#
/**
 * @file subscription-remove.html.twig
 * Basic barebone template for extra field subscription-remove.
 *
 * Available variables:
 * - entity: The subscription entity.
 * - attributes: HTML attributes for the button.
 * - view_mode: The view mode of the entity rendered.
 *
 * @see entity_activity_entity_activity_subscription_view()
 *
 * @ingroup themeable
 */
#}
<button{{ attributes }}>{{ 'Remove'|t }}</button>
