/* Various additional css items */

#export-xls-link, #export-csv-link {
    float: right;
}

.xls-icon {

    background: url('/themes/custom/valeo_classic/images/xls-24.png') repeat 0 0;
}


/* VIEWS */

.form-item-field-vp-graduation-value-min,
.form-item-field-vp-bar-date-value-min,
.form-item-field-vp-filing-fee-dates-value-min {
  clear: left;
  float: none;
  margin: 0.5em 0 0 0;
}

.form-item-field-vp-graduation-value-max,
.form-item-field-vp-bar-date-value-max,
.form-item-field-vp-filing-fee-dates-value-max {
  margin: 0.5em 0 0 0;
}

table caption {
  font-weight: bold;
  font-size: 1.8em;
  text-align: left;
}

#xlsModal {
  display:none;
}

.region-primary-menu {
  background-color:#0B3B6B;
  background: #0B3B6B;
  border: #0B3B6B;
  color: white;
}

.region-primary-menu .menu a {
  padding: 0px 14px 0px 14px;
  text-decoration: none;
  font-size: 110%;
  font-weight: normal;
  background: #0B3B6B;
  border: #0B3B6B;
  color: white;
	text-transform: uppercase;

}

.region-primary-menu .menu a:hover {
  background-color:#0B3B6B;
  background: #0B3B6B;
  border: #0B3B6B;
  color: white;
}

#views-exposed-form-search-by-firm-master-search-by-firm-page select.form-select{
	max-width: 100%;
}
#views-exposed-form-search-by-firm-master-search-by-firm-page .form-item-field-vp-rate-firm-target-id-verf{
	max-width: 40%;
}