	<div class="col-md-3 col-sm-12 col-xs-12 fh5co-client-logo text-center to-animate"><img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" class="img-responsive">
		{{ content.title }}
	</div>


