
<div id="fh5co-main">
		

	
		<h1>{{ content.field_title1.0 }}</h1>
		<img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}"  class="fh5co-align-left img-responsive">
		<p>{{ content.field_body.0 }}</p>

		
	
</div>	
