

      <div class="fh5co-bg-section" style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }}); background-attachment: fixed;">
       
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-hero-wrap">
              <div class="fh5co-hero-intro text-center">
                <h1 class="fh5co-lead">
                  {{ content.field_body.0 }}
                </h1>
                <p class="author">&mdash; <cite>{{ content.field_title1.0 }}</cite></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>